{
  "plugins": [
    ["prismjs", {
      "languages": ["html", "css", "sass", "scss", "shell", "json", "js"],
      "plugins": ["line-numbers"],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}
